<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI Id="LifewoodInstallerUI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Segoe UI" Size="9" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Segoe UI" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Segoe UI" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="WelcomeDlg" />
      <DialogRef Id="VerifyReadyDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ExitDialog" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="MaintenanceWelcomeDlg" />
      <DialogRef Id="MaintenanceTypeDlg" />

      <Dialog Id="ServerConfigDlg" Width="370" Height="310" Title="!(loc.ConfigWindowTitle)">
        <Control Id="Title" Type="Text" X="20" Y="18" Width="330" Height="24" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.ConfigTitle)" />
        <Control Id="Description" Type="Text" X="20" Y="44" Width="330" Height="30" Transparent="yes" NoPrefix="yes" Text="!(loc.ConfigDescription)" />
        <Control Id="ListenAddressLabel" Type="Text" X="20" Y="80" Width="250" Height="16" Text="!(loc.ListenAddressLabel)" />
        <Control Id="ListenAddress" Type="RadioButtonGroup" X="20" Y="96" Width="330" Height="34" Property="LISTENADDRESS" DisableCondition="EXISTINGINSTALL">
          <RadioButtonGroup Property="LISTENADDRESS">
            <RadioButton Value="127.0.0.1" X="0" Y="0" Width="320" Height="15" Text="!(loc.ListenLocalOnly)" />
            <RadioButton Value="0.0.0.0" X="0" Y="17" Width="320" Height="15" Text="!(loc.ListenAllInterfaces)" />
          </RadioButtonGroup>
        </Control>
        <Control Id="PortLabel" Type="Text" X="20" Y="137" Width="120" Height="16" Text="!(loc.PortLabel)" />
        <Control Id="Port" Type="Edit" X="20" Y="154" Width="100" Height="18" Property="PORT" />
        <Control Id="PortHint" Type="Text" X="132" Y="156" Width="205" Height="18" Text="!(loc.PortHint)" />
        <Control Id="DataLabel" Type="Text" X="20" Y="184" Width="250" Height="16" Text="!(loc.DataLabel)" />
        <Control Id="DataPath" Type="PathEdit" X="20" Y="201" Width="330" Height="18" Property="DATAFOLDER" DisableCondition="EXISTINGINSTALL" />
        <Control Id="DataHint" Type="Text" X="20" Y="224" Width="330" Height="32" Text="!(loc.DataHint)" />
        <Control Id="UpgradeHint" Type="Text" X="20" Y="258" Width="330" Height="18" Text="!(loc.UpgradeHint)" Hidden="yes" ShowCondition="EXISTINGINSTALL" />
        <Control Id="Back" Type="PushButton" X="172" Y="283" Width="56" Height="17" Text="!(loc.BackButton)">
          <Publish Event="NewDialog" Value="WelcomeDlg" />
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="283" Width="56" Height="17" Default="yes" Text="!(loc.NextButton)">
          <Publish Event="SpawnDialog" Value="InvalidPortDlg" Order="1" Condition="NOT (PORT &gt;= 1024 AND PORT &lt;= 65535)" />
          <Publish Event="SpawnDialog" Value="MissingDataPathDlg" Order="2" Condition="PORT &gt;= 1024 AND PORT &lt;= 65535 AND NOT DATAFOLDER" />
          <Publish Event="NewDialog" Value="VerifyReadyDlg" Order="3" Condition="PORT &gt;= 1024 AND PORT &lt;= 65535 AND DATAFOLDER" />
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="283" Width="56" Height="17" Cancel="yes" Text="!(loc.CancelButton)">
          <Publish Event="SpawnDialog" Value="CancelDlg" />
        </Control>
      </Dialog>

      <Dialog Id="InvalidPortDlg" Width="260" Height="92" Title="!(loc.InvalidPortTitle)">
        <Control Id="Message" Type="Text" X="20" Y="18" Width="220" Height="36" Text="!(loc.InvalidPortMessage)" />
        <Control Id="OK" Type="PushButton" X="102" Y="61" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.OkButton)">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
      </Dialog>

      <Dialog Id="MissingDataPathDlg" Width="260" Height="92" Title="!(loc.MissingDataPathTitle)">
        <Control Id="Message" Type="Text" X="20" Y="18" Width="220" Height="36" Text="!(loc.MissingDataPathMessage)" />
        <Control Id="OK" Type="PushButton" X="102" Y="61" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.OkButton)">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
      </Dialog>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="ServerConfigDlg" Condition="NOT Installed" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Condition="Installed AND PATCH" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ServerConfigDlg" Order="1" Condition="NOT Installed" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2" Condition="Installed AND NOT PATCH" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3" Condition="Installed AND PATCH" />
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />
    </UI>
    <UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>
